<div class="app-page padding-tb-20">
  <div class="page-width page-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p class="page-title">
            <span class="title-parent"> كلمة المرور </span>
            <span class="title-arrow"><i class="fa fa-chevron-left"></i></span>
            <span class="title-current-page darker-theme-color">تعديل كلمة المرور </span>
          </p>
        </div>
      </div>
      <form name="form" class="row master-form" #changePassForm="ngForm">
        <label class="col-12 col-md-4 m-0" for="oldPass">
          كلمة المرور القديمة
        </label>
        <input class="form-control col-12 col-md-6 mt-2 mt-md-0" id="oldPass" 
          name="userOldPass" 
          type="password" 
          [(ngModel)]="model.userOldPass" #userOldPass="ngModel"
          placeholder="أدخل كلمة المرور القديمة"
          [ngClass]="{'is-invalid': userOldPass.invalid  && (userOldPass.touched || userOldPass.dirty)}"
          required>

        <label class="col-12 col-md-4 m-0 mt-2" for="reOldPass">
          كلمة المرور القديمة
        </label>
        <input class="form-control col-12 col-md-6 mt-2" id="reOldPass" 
          name="oldPassword"
          type="password"
          [(ngModel)]="model.userOldPassTwo" #userOldPassTwo="ngModel"
          placeholder="أعد كتابة كلمة المرور القديمة"
          [ngClass]="{'is-invalid': userOldPassTwo.invalid && (userOldPassTwo.touched || userOldPassTwo.dirty) || model.userOldPass !== model.userOldPassTwo && (userOldPassTwo.touched || userOldPassTwo.dirty)}"
          required>

        <label class="col-12 col-md-4 m-0 mt-2" for="newPass">
          كلمة المرور الجديدة
        </label>
        <input class="form-control col-12 col-md-6 mt-2" id="newPass" 
          name="userNewPass"
          type="password" 
          [(ngModel)]="model.userNewPass" #userNewPass="ngModel"
          [ngClass]="{'is-invalid': userNewPass.invalid  && (userNewPass.touched || userNewPass.dirty)}"
          placeholder="أدخل كلمة المرور الجديدة"
          required>

        <div class="col-12 text-center mt-2">
          <button class="btn btn-lg btn-alt-theme border-radius-0"
            [disabled]="changePassForm.invalid"
            (click)="changeUserPassword()">
            حفظ التغييرات
            <i *ngIf="busySaving" class="fa fa-spinner spinner-spin"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
