
<div class="app-page padding-tb-20">
    <div class="page-width page-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <app-page-title super="الأكواد الرئيسية" title="قائمة بيانات الأصناف"></app-page-title>
          </div>
        </div> 
        <div class="row">
          <div class="col-12"> 
            <app-list-table 
              [loading]="busyLoading"
              addButtonText="إضافة بيانات صنف"
              addEditRoute="/pages/items-info/items"
              (onSearch)="search($event)"
              (onSort)="sort($event)"
              [routeParamsKeys]="['itemGroupId', 'itemId', 'itemYear']"
              [pageSize]="filterParams.pageSize" (OnPageSizeChange)="changePageSize($event)"
              [itemsList]="items" [configs]="configs">
            </app-list-table>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 form-group">
            <app-pagination *ngIf="totalNumberOfPages && !(totalNumberOfPages==1)" 
              [page]="filterParams.pageNumber" [size]="totalNumberOfPages" (onChange)="changePage($event)">
            </app-pagination>
          </div>
           <div class="col-md-6 col-sm-12 form-group text-left">
              <app-table-info *ngIf="items?.length>0 && !busyLoading"
                  [page]="filterParams.pageNumber" [pageSize]="filterParams.pageSize"
                [length]="items.length" [total]="totalNumberOfItems"></app-table-info>
          </div> 
        </div> 
        </div>
    </div>
  </div>
  