<div class="app-page padding-tb-20">
    <div class="page-width page-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="page-title">
                        <span class="title-parent">الأكواد الرئيسية </span>
                        <span class="title-arrow"><i class="fa fa-chevron-left"></i></span>
                        <span class="title-current-page darker-theme-color"> الموردين </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 form-group order-2 padding-right-left-21">
                    <app-form-navigator [rank]="rank"
                        [totalCount]="totalCount"
                        [isActive]="isEdit"
                        (onReset)="reset()"
                        (onDelete)="delete()"
                        (onFirst)="getFirst()"
                        (onLast)="getLast()"
                        (onPrevious)="getPrevious()"
                        (onNext)="getNext()"
                        [permission]="permission">
                    </app-form-navigator>
                </div>
                <div class="col-md-6 col-sm-12 text-left form-group order-1 padding-right-left-21"
                    *ngIf="permission.read">
                    <button *ngIf="permission.print"
                        class="btn-table-action"
                        [ngClass]="{'user-loading': busyPrinting}"
                        [disabled]="busyPrinting || !isEdit"
                        [title]="busyPrinting ? 'برجاء الانتظار' : 'طباعة'"
                        (click)="print()">
                        طباعة
                        <i class="fa fa-print"></i>
                    </button>
                    <button title="قائمة الموردين"
                        class="master-form-button"
                        routerLink="/pages/main-codes/suppliers/list">
                        <span class="hideTitleOSS"> قائمة الموردين </span>
                        <i class="fa fa-list margin-right-10 adjustMarginOSS"></i>
                    </button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <div class="container-fluid">
                        <form name="form"
                            #form="ngForm"
                            class="master-form">
                            <hr>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>كود المورد<sup>*</sup></label>
                                    <input class="form-control"
                                        type="text"
                                        placeholder="ادخل كود المورد "
                                        name="supplierId"
                                        #supplierId="ngModel"
                                        [(ngModel)]="supplier.supplierId"
                                        disabled
                                        [ngClass]="{'is-invalid': supplierId.invalid  && (supplierId.touched || supplierId.dirty)}"
                                        [readonly]="isEdit && !permission.update"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>اسم المورد<sup>*</sup></label>
                                    <input autocomplete="off"
                                        class="form-control"
                                        type="text"
                                        placeholder="ادخل اسم المورد "
                                        name="supplierName"
                                        #supplierName="ngModel"
                                        [(ngModel)]="supplier.supplierName"
                                        [ngClass]="{'is-invalid': supplierName.invalid  && (supplierName.touched || supplierName.dirty)}"
                                        [readonly]="isEdit && !permission.update"
                                        maxlength="100"
                                        minlength="4"
                                        [pattern]="pattern"
                                        required
                                        (keypress)="preventNumberInput($event)"
                                        >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>تليفون 1</label>
                                    <input autocomplete="off"
                                        class="form-control"
                                        type="text"
                                        placeholder="ادخل تليفون 1"
                                        name="phone1"
                                        #phone1="ngModel"
                                        [(ngModel)]="supplier.phone1"
                                        [readonly]="isEdit && !permission.update"
                                        maxlength="20">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>تليفون 2</label>
                                    <input autocomplete="off"
                                        class="form-control"
                                        type="text"
                                        placeholder="ادخل تليفون 2"
                                        name="phone2"
                                        #phone2="ngModel"
                                        [(ngModel)]="supplier.phone2"
                                        [readonly]="isEdit && !permission.update"
                                        maxlength="20">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label> الفاكس</label>
                                    <input autocomplete="off"
                                        class="form-control"
                                        type="text"
                                        placeholder="ادخل الفاكس"
                                        name="Fax"
                                        #Fax="ngModel"
                                        [(ngModel)]="supplier.fax"
                                        [readonly]="isEdit && !permission.update"
                                        maxlength="20">
                                </div>
                                <div class="form-group col-md-6">
                                    <label> العنوان</label>
                                    <input autocomplete="off"
                                        class="form-control"
                                        type="text"
                                        placeholder="ادخل العنوان"
                                        name="Address"
                                        #Address="ngModel"
                                        [(ngModel)]="supplier.address"
                                        [readonly]="isEdit && !permission.update"
                                        maxlength="100">
                                </div>
                            </div>
                            <hr>
                            <div *ngIf="!isEdit || (isEdit && permission.update)"
                                class="row">
                                <div class="form-group col-md-12 text-center">
                                    <button class="master-form-submit-button"
                                        [disabled]="form.invalid"
                                        (click)="save()">
                                        حفظ <i *ngIf="busySaving"
                                            class="fa fa-spinner spinner-spin"></i>
                                    </button>
                                    <button class="master-form-cancel-button margin-right-10"
                                        (click)="cancel()">إلغاء
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-left">
                                    <app-permissions-string [permission]="permission"></app-permissions-string>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>