* {
    direction: rtl;
    text-align: right;
}

body {
    padding: 0!important;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
    font-size: 12px;
    font-family: DroidKufi-Regular;
}

app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
}


body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background-color: #F8F8F8;
}

body::-webkit-scrollbar-thumb {
    background-color: #438EB9;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background-color: #F8F8F8;
}

*::-webkit-scrollbar-thumb {
    background-color: #438EB9;
}

.loading {
    display: block!important;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -1;
}

app-root:empty + .loading {
    opacity: 1;
    z-index: 100;
}
app-root:empty + .loading h1 {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-size: 14px;
    font-family: DroidKufi-Bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.black-overlay {
    position: fixed !important;
}

.notifier__notification--material .notifier__notification-message {
    font-size: 15px!important;
    color: rgba(255, 255, 255, 0.93);
    font-family: DroidKufi-Regular;
}
.notifier__notification--material .notifier__notification-button {
    margin-left: -10px !important;
    margin-right: 10px !important;
    /* margin-top: 10px; */
    transform: scale(1.25);
}
.notifier__notification--material {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-right: 15px!important;
}
.notifier__notification--material .notifier__notification-message {
    line-height: 20px;
}
.notifier__notification--material .notifier__notification-message::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 15px;
    transform: translateY(4px);
}
.notifier__notification--material.notifier__notification--success .notifier__notification-message::before {
    content: "\f058";
}
.notifier__notification--material.notifier__notification--error .notifier__notification-message::before {
    content: "\f057";
}

.drop-menu-child-100 .dropdown-menu {
    width: calc(100% - 30px);
}
.notifier__notification--material.notifier__notification--success {
    background-color: #067594!important;
}

@font-face {
    font-family: DroidKufi-Regular;
    src: url("/assets/fonts/DroidKufi-Regular.ttf");
}

@font-face {
    font-family: DroidKufi-Bold;
    src: url("/assets/fonts/DroidKufi-Bold.ttf");
}

.input-below-error {
    font-size: 13px;
    margin: 5px 5px 0px 0px;
}

button.btn {
    font-family: DroidKufi-Regular;
}
/******** checkbox *************/
/* The container */
.checkbox-container {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    display: block;
    background-color: #ccc;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #17a2b8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 9px;
    height: 16px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/********** end checkbox *************/

.text-theme {
    color: #067594 !important
}
.bg-theme {
    background: #067594 !important;
}

.user-loading {
    animation: loading-user 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
@keyframes loading-user {
0% {
    opacity: 0.2;
}
80%, 100% {
    opacity: 1;
}
}

.modal-content {
    border-radius: 7px !important;
}
.modal-header .close {
    margin: -1rem auto -1rem -1rem !important;
}
.modal-header {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    font-family: DroidKufi-Regular;
}
.modal-footer {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.form-control.is-invalid {
    border-color: #dc3545!important;
}
.app-page {
    background: #F8F8F8;
    margin: 0 auto;
    min-height: calc( 100vh - 110px )
}
.page-width {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}
.clickable {
    cursor: pointer;
}
.not-clickable {
    cursor: unset!important;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.min-width-60 {
    min-width: 60px;
}
.margin-bottom-0 {
    margin-bottom: 0px!important;
}
.margin-bottom-5 {
    margin-bottom: 5px!important;
}
.margin-top-5 {
    margin-top: 5px!important;
}
.margin-top-10 {
    margin-top: 10px!important;
}
.margin-top-20 {
    margin-top: 20px!important;
}
.margin-lr-3 {
    margin-left: 3px;
    margin-right: 3px;
}
.margin-right-1 {
    margin-right: 1px!important;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.spinner-spin-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: tableSpinningAbsoluteCenter 1000ms infinite linear;
}
@keyframes tableSpinningAbsoluteCenter {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.page-container {
    padding: 10px;
    border-radius: 7px;
    background: white;
}
.page-title {
    color: #616161;
    margin: 0px;
    line-height: 80px;
}
.page-title .title-arrow {
    margin-right: 5px;
    margin-left: 5px;
}
.page-title .title-parent {
    font-size: 12px;
    font-family: DroidKufi-Regular;
}
.page-title .title-current-page {
    font-size: 12px;
    font-family: DroidKufi-Bold;
    color: #106079!important;
}
.form-group input.app-form-control {
    border-radius: 0px !important;
    outline: none !important;
    height: 41px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.app-form-control:focus {
    border-color: #438EB9 !important;
    color: #438EB9 !important;
    outline: none;
}
.form-group input.app-form-control.search-input {
    padding-right: 44px;
    padding-left: 44px;
}
.app-form-control:focus ~ .search-icon {
    color: #438EB9 !important;
}
.btn-action-print {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 32px;
    color: #616161;
    text-align: center;
}
.btn-action-print:focus {
    outline: none;
}
.btn-action-print:hover {
    color: #438EB9;
}
.search-input-wrapper {
    position: relative;
}
.search-input-wrapper .app-form-control {
    padding-right: 44px;
}
.search-input-wrapper .search-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(97, 97, 97, 0.8);
    font-size: 20px;
    padding: 12px;
}
.search-input-wrapper .reset-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 24px;
    padding: 10px 12px;
    background: #438EB9;
}
.search-input-wrapper .spinner-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #438EB9;
    font-size: 25px;
    padding: 10px;
}
.search-input-wrapper input.search-input:focus ~ .search-icon {
    color: #438EB9;
}
.search-input-wrapper input.search-input {
    height: 45px;
    padding-right: 43px !important;
    font-size: 16px;
    color: #616161;
    font-family: DroidKufi-Regular;
}
.taj-dataTable .table-spin {
    color: #17a2b8;
    animation: tableSpinning 1000ms infinite linear;
}
.spinner-spin {
    animation: tableSpinning 1000ms infinite linear;
}
@keyframes tableSpinning {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.taj-dataTable thead tr th {
    font-size: 16px;
    color: #616161;
    font-family: DroidKufi-Bold;
}
.taj-dataTable tbody tr td {
    font-size: 16px;
    color: #616161;
    font-family: DroidKufi-Regular;
}
.taj-dataTable tbody tr td.td-actions {
    padding: 8px;
}
.taj-dataTable tbody tr td.td-actions button {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 0px;
}
.taj-dataTable tbody tr td.td-actions .fa {
    font-size: 30px;
}
.taj-dataTable tbody tr td.add-new-td {
    padding: 6px .75rem;
    position: relative;
}
.taj-dataTable tbody tr td.add-new-td input {
    width: 100%;
    font-size: 16px;
    font-weight: 900;
    color: #616161;
    font-family: DroidKufi-Regular;
}
.taj-dataTable tbody tr td.add-new-td select {
    width: 100%;
    font-size: 16px;
    padding: 0rem .75rem;
    font-family: DroidKufi-Regular;
}
.taj-dataTable tbody tr td.add-new-td .form-control {
    border: 1px solid transparent;
    border-radius: 7px!important;
    border: 1px solid transparent;
}
.taj-dataTable tbody tr td.add-new-td input.editable-row,
.taj-dataTable tbody tr td.add-new-td select.editable-row,
.taj-dataTable tbody tr td.add-new-td input.editable-row ~ .checkmark {
    background: rgba(97, 97, 97, 0.1);
    padding-right: 10px;
    padding-left: 10px;
}
.taj-dataTable tbody tr td.add-new-td input:disabled {
    background: transparent!important;
    color: inherit!important;
    font-weight: 900!important;
}
.taj-dataTable tbody tr td.add-new-td select:disabled {
    background: transparent!important;
    color: inherit!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.select-cover {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0
}
.taj-dataTable tbody tr td.add-new-td.haveUpdatePermission input:disabled:hover,
.taj-dataTable tbody tr td.add-new-td.haveUpdatePermission .select-cover:hover ~ select:disabled,
.taj-dataTable tbody tr td.add-new-td.haveUpdatePermission input:disabled:hover ~ .checkmark {
    border-color: rgba(97, 97, 97, 0.5);
    cursor: pointer;
}
/* The container */
.input-container {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.input-container .checkmark {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
/* .taj-dataTable tbody tr td.add-new-td .editable-row ~ .checkmark {
     border-color:#ccc;
}*/

/* On mouse-over, add a grey background color */
/* .input-container:hover input:not(:checked) ~ .checkmark {
    border-color: transparent;
} */
.input-container:hover input:not(:checked):not(:disabled) ~ .checkmark:after {
    display: block;
    opacity: 0.2;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .checkmark {
    border-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-container .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 27px;
    border: solid #616161;
    border-width: 0 5px 5px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}




/*Form Style*/
.formStyle{
    font-size: 16px;
    font-family: DroidKufi-Regular;
}
label{
    /* font-size: 16px; */
    font-size: 12px;
    font-family: DroidKufi-Regular;
    margin-left:15px;
}
.taj-dataTable tbody tr td.add-new-td .form-control::-webkit-input-placeholder{
    color: rgba(40, 167, 69,.7)!important;
}
.taj-dataTable tbody tr td.add-new-td .form-control::-moz-placeholderr{
    color: rgba(40, 167, 69,.7)!important;
}
.taj-dataTable tbody tr td.add-new-td .form-control::-ms-input-placeholder{
    color: rgba(40, 167, 69,.7)!important;
}
.taj-dataTable tbody tr td.add-new-td .form-control::-moz-placeholder{
    color: rgba(40, 167, 69,.7)!important;
}
.formStyle input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(97, 97, 97,.3);
  }
  .formStyle input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(97, 97, 97,.3);
  }
  .formStyle input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(97, 97, 97,.3);
  }
  .formStyle input:-moz-placeholder { /* Firefox 18- */
    color: rgba(97, 97, 97,.3);
  }
  .checkboxPadding{
      padding:4px;
  }

  /* extend bootstrap sm */
  @media (min-width: 576px) {
    .text-sm-right {
        text-align: right;
    }
  }
  @media (min-width: 768px) {
    .text-md-left {
        text-align: left;
    }
  }
  .font-size-12{
    font-size: 12px!important;
    }
  .font-size-14{
    font-size: 14px!important;
    }
    .font-size-16{
        font-size: 16px!important;
    }
  .font-size-30{
      font-size: 30px;
  }
  .font-size-70{
    font-size: 70px;
}
  select.form-control {
      padding-top: 2px;
  }
  .regular-text {
      font-family: DroidKufi-Regular;
  }
  .modalFont{
    font-family: DroidKufi-Regular !important;
  }
.image-modal{
    width:90%;
    margin: 1% 5%;
}
.quarter{
    width:25%;
    display:inline-block;
    vertical-align: top!important;
    max-height: 100px!important;
}
.zPadW{
    /* padding:0px;
    margin:0; */
    width:101%;
}

.bottomMargin{
    margin-bottom: 0px !important;
}


/* scanner instalation giude */
.asprise-web-scan-dialog-wrapper .asprise-web-scan-dialog button.top-right-closer {
    right: unset!important;
    top: 16px!important;
    left: 10px!important;
    cursor: pointer;
}
.asprise-web-scan-setup h2 {
    font-size: 22px;
    font-family: DroidKufi-Regular;
}
.asprise-web-scan-setup .asprise-web-scan-setup-instruction tr.text h2,
.asprise-web-scan-setup .asprise-web-scan-setup-instruction tr.text h3 {
    text-align: center;
    font-size: 20px;
    font-family: DroidKufi-Bold;
    margin-top: 10px!important;
}
.asprise-web-scan-setup .asprise-web-scan-setup-instruction tr.text p {
    text-align: right;
    font-size: 16px;
    font-family: DroidKufi-Regular;
    margin-top: 15px!important;
}
.asprise-web-scan-setup p {
    font-size: 16px;
    font-family: DroidKufi-Regular;
}
.disabled-btn{
    background: #e9ecef;
    color: grey!important;
    cursor: unset!important;
}
.pagination-select {
    max-width: 75px;
    display: inline-block!important;
}
.pagination .dotsAfter::after {
    content: "...";
    display: inline-block;
    width: 25px;
    font-size: 20px;
    text-align: center;
}
.pagination .dotsBefor::before {
    content: "...";
    display: inline-block;
    width: 25px;
    font-size: 20px;
    text-align: center;
}

ul.check-list {
    padding: 0px;
    margin: 0px!important;
    list-style: none;
}
ul.check-list li {
    display: inline-block;
}
ul.check-list li:first-child p {
    margin-right: 0px;
}
ul.check-list li:last-child p {
    margin-left: 0px;
}
ul.check-list li p {
    padding: 7px 15px;
    font-size: 14px;
    font-family: DroidKufi-Regular;
    margin: 0px 0px;
    border-radius: 0px;
    background-color: rgba(228, 230, 233, 0.5);
    cursor: pointer;
}
ul.check-list li p:not(.selected):hover {
    background-color: #067594;
    color: #FFFFFF;
}
ul.check-list li p.selected {
    background-color: #067594!important;
    color: #FFFFFF;
}

.FontFamilySelectors{
    font-family: DroidKufi-Regular !important;
}
.theme-table-wrapper {
    position: relative;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3);
    min-height: 140px;
}
.theme-table-body-wrapper {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
}
.theme-table-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65)
}
.theme-table-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #067594;
}
.theme-table-no-data {
    position: absolute;
    color: #067594;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: DroidKufi-Regular;
}
.theme-table-elements-count {
    font-size: 11px;
    font-family: DroidKufi-Regular;
    display: inline-block;
}
.theme-table-elements-count span.bold {
    font-weight: bold;
}
.theme-table{
    font-size: 12px;
    font-family: DroidKufi-Regular;
}
.bgColorBlue{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0788ab+0,0788ab+15,0788ab+15,067594+100 */
    background: #067594; /* Old browsers */
    font-family: DroidKufi-Regular!important;
    background: -moz-linear-gradient(-45deg, #0788ab 0%, #0788ab 15%, #0788ab 15%, #067594 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0788ab', endColorstr='#067594',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white !important;
}
.theme-table .max-width150px{
    max-width: 150px;

}
.theme-table-Vcenter{
    vertical-align: middle!important;
}
.theme-table-center{
    text-align: center!important;
}
.theme-table tbody tr:hover{
    /* background-color: #e3c782!important;
    color:#067594 ; */
    cursor: pointer;
}
.theme-table tbody tr.not-viewed {
    font-weight: bolder;
    background: rgb(2, 45, 58, 0.1);
}
.secondary-theme-color{
    background-color: #067594;
    color:#FFFFFF;
}
.secondary-theme-color:hover{
    background-color: #e3c782;
    color:#067594 ;
}

.page-item.active .page-link{
    background-color:#067594!important;
    color:#FFFFFF!important;
    border:1px solid grey!important;
}

.push-center{
    margin-right:auto;
    margin-left:auto;
}

.btn-primaryColor{
    background-color:#067594!important;
    color:#FFFFFF!important;
    font-family: DroidKufi-Regular !important;
}
.alignLeft{
    text-align: left!important;
}
.TitleP{
    padding:6px;
    font-size: 18px !important;
}
.marginB{
    margin-bottom: 0!important;
}
.inlineB{
    display: inline-block!important;
}
.block {
    display: block!important;
}
.inline-block {
    display: inline-block!important;
}
.hideCol{
    display:none;
}
.colT{
    cursor:pointer;
}

.search-input-wrapper-theme {
    position: relative;
}
.search-input-wrapper-theme input {
    width: 100%;
    padding: 4px 8px;
    background: white;
    border: 1px solid transparent;
    outline: none!important;
    border: 1px solid rgba(120, 173, 189, 0.8);
    font-family: DroidKufi-Regular !important;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
}
.search-input-wrapper-theme input:hover,
.search-input-wrapper-theme input:focus {
    border: 1px solid #067594 ;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.search-input-wrapper-theme input::after {
    display: none!important;
}
.search-input-wrapper-theme input::before {
    display: none!important;
}
.search-input-wrapper-theme .search-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    padding: 7px;
    background: transparent;
    color: #067594 ;
}
.search-input-wrapper-theme .close-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    padding: 8px 12px;
    background: transparent;
    color: #067594 ;
}
.btn-table-action {
    padding: 10px;
    border-radius: 0px;
    text-align: center;
    font-family: DroidKufi-Regular;
    outline: none!important;
    border: none;
    box-shadow: none;
    cursor: pointer;
    box-shadow: none!important;
    background: transparent;
    color: #067594;
}
.btn-table-action:not(:disabled):hover {
    background: #e3c782;
    background: -moz-linear-gradient(-45deg, #e7d197 0%, #e7d197 20%, #e3c782 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d197', endColorstr='#e3c782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #067594 ;
}

.btn-theme {
    padding: 4px 8px;
    border-radius: 0px;
    text-align: center;
    font-family: DroidKufi-Regular;
    outline: none!important;
    border: none;
    box-shadow: none;
    cursor: pointer;
    box-shadow: none!important;
    font-size: 12px;
}
.btn-theme-sm {
    padding: 10px 20px;
    border-radius: 0px;
    text-align: center;
    font-family: DroidKufi-Regular;
    outline: none!important;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.btn-prim-theme {
    background: #067594;
    background: -moz-linear-gradient(-45deg, #0788ab 0%, #0788ab 15%, #0788ab 15%, #067594 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0788ab', endColorstr='#067594',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}
.btn-prim-theme:not(:disabled):hover {
    background: #e3c782;
    background: -moz-linear-gradient(-45deg, #e7d197 0%, #e7d197 20%, #e3c782 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d197', endColorstr='#e3c782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #067594 ;
}

.btn-prim-theme.opened {
    background: #e3c782;
    /* color: #067594 ; */
    color: #067594 ;
}
.btn-alt-theme {
    background: #067594 ;
    background: -moz-linear-gradient(-45deg, #0788ab 0%, #0788ab 15%, #0788ab 15%, #067594 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0788ab', endColorstr='#067594',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white!important;
    font-family: DroidKufi-Regular;
}
.color-alt-theme {
    color: #067594;
}
.btn-alt-theme:not(:disabled):hover {
    background: #e3c782;
    background: -moz-linear-gradient(-45deg, #e7d197 0%, #e7d197 20%, #e3c782 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e7d197 0%,#e7d197 20%,#e3c782 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d197', endColorstr='#e3c782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* color: #17A2B8 ; */
    color: #067594!important;
}

.headers-selector-wrapper {
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 165px;
    padding-top: 3px;
    z-index: 999;
}
.theme-shadow {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4)
}
.headers-selector {
    background:#e3c782;
}
.headers-selector .headers-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.headers-selector .headers-list li p {
    font-size: 12px;
    color: #067594 ;
    text-align: center;
    padding: 8px 20px;
    margin: 0px;
    position: relative;
}
.headers-selector .headers-list li p.selected {
    background: #067594 ;
    color: white;
}
.headers-selector .headers-list li p span {
    position: absolute;
    right: 8px;
    top: 5px;
    bottom: 5px;
    padding: 6px 3px;
}
.overlay-layer {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.fa-action-md {
    transform: scale(1.5);
}
.fa-action-lg {
    transform: scale(2);
}
.btn-theme-danger,.btn-danger,.bg-danger{
    background-color: #b82020 !important;
    color:white!important;
    border-radius: 0!important;
}
.btn-theme-danger:disabled{
    background-color: #f5aaaa;
    color:white!important;
    border-radius: 0!important;
}
.btn-theme-danger:not(:disabled):hover{
    background-color: #e46464!important;
    color:white!important;
    border-radius: 0!important;
}
.btn-theme-outline-danger {
    background-color: transparent !important;
    color:#b82020 !important;
    border: 1px solid #b82020 !important;
}
.btn-theme-outline-danger:not(:disabled):hover {
    background-color: #b82020 !important;
    color:white !important;
}
.btn-theme-outline-warning {
    background-color: transparent !important;
    color:#ffc107 !important;
    border: 1px solid #ffc107 !important;
    outline: none;
}
.btn-theme-outline-warning:not(:disabled):hover {
    background-color: #ffc107 !important;
    color:white !important;
    outline: none;
}
.btn-theme-outline-info {
    background-color: transparent !important;
    color:#17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    outline: none;
}
.btn-theme-outline-info:not(:disabled):hover {
    background-color: #17a2b8 !important;
    color:white !important;
    outline: none;
}
.btn-theme-success{
    background-color: #2a9187;
    color:white;
}
.btn-theme-success:not(:disabled):hover{
    background-color: #6ed7d3;
    color:white;
}
.border-radius-0{
    border-radius: 0!important;
}
.darker-theme-color{
    color:#106079!important;
}
.darker-theme-bg{
    background-color:#106079!important;
}
.greg-hij-component-wrapper[_ngcontent-c9] input[_ngcontent-c9]{
    border-radius: 0px!important;
}
hr{
    margin-top:0px !important;
}

.select-page-size {
    height: 28px;
    border: none;
    color: #067594;
    font-size: 12px;
    min-width: 25px;
    padding-right: 5px;
    font-family: DroidKufi-Regular;
    cursor: pointer;
    border: 1px solid #067594;
    background-color: white!important;
}
.select-page-size:focus {
    outline: none!important;
}
select.bb option:hover{
    box-shadow: 2px 2px 2px #106079;
    background-color: #b82020;
    color:#616161;
}
.padding-shrink-lr{
    padding-left: 8px!important;
    padding-right: 8px!important;
}
.theme-dropdown-menu{
    background-color: white!important;
    color:#067594!important;
    font-family: DroidKufi-Regular!important;
    max-width: 60px!important;
    text-align: center;
    padding-top: 0!important;
    padding-bottom: 0!important;
    border:1px solid #067594!important;
    cursor: pointer;
}
.display-inline{
    display: inline-block!important;
}
.min-width-40 {
    min-width: 30px!important;
}
.theme-dropdown {
    font-size: 12px;
}
.theme-dropdown:hover{
    color: white!important;
    background-color: #067594!important;
}
.selectedSize{
    color: white!important;
    background-color: #067594!important;
}
.dropdown-toggle::after{
    margin-right:5px!important;
}
.order-1{
    order:2!important;
}
.order-2{
    order:1!important;
}
.order-1-setting{
    order:2!important;
}
.order-2-setting{
    order:2!important;
}
.toggleVisibility1{
    display: inline-block!important;
}
.toggleVisibility2{
    display: none!important;
}
.padding-left-right-2_5{
    padding: 0px 2.5px;
}
.adjustMarginOSS{
    margin-right: auto!important;
    margin-left: auto!important;
}
@media only screen and (max-width: 374px)   {
    /* OSS => OnSmallScreen*/
    .hideTitleOSS{
        display:none;
    }
    .adjustMarginOSS{
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .padding-right-left-21{
        padding:0px 21px!important;
    }
    .btn-theme-OSS{
        transform: scale(1);
    }
    .margin-right-4-OSS{
        margin-right: 0px!important;
    }
    .margin-left--4-OSS{
        margin-left: -4px!important;
    }
    .order-1{
        order:1!important;
    }
    .order-2{
        order:2!important;
    }
    .order-1-setting{
        order:1!important;
    }
    .order-2-setting{
        order:2!important;
    }
    .push-left-OSS{
        text-align:left!important;
        margin-right:auto!important;
    }
    .toggleVisibility1{
        display: none!important;
    }
    .toggleVisibility2{
        display: inline-block!important;
    }
    .font-awesome-scale-up{
        transform: scale(1.5);
    }
    .vertical-align-top-OSS{
        vertical-align: top;
    }
    .scrol-horizontal{
        overflow-x: auto;
    }
    td{
        min-width: 155px;
    }
    .title-line-height-OSS{
        line-height: 20px;
        padding:15px;
    }
    .zero-padding{
        padding:0!important;
    }
}
@media only screen and (min-width:375px) and (max-width: 480px)   {
    /* OSS => OnSmallScreen*/
    .hideTitleOSS{
        display:none;
    }
    .adjustMarginOSS{
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .padding-right-left-21{
        padding:0px 21px!important;
    }
    .btn-theme-OSS{
        transform: scale(1.08);
    }
    .margin-right-4-OSS{
        margin-right: 4px!important;
    }
    .margin-left--4-OSS{
        margin-left: -4px!important;
    }
    .order-1{
        order:1!important;
    }
    .order-2{
        order:2!important;
    }
    .order-1-setting{
        order:1!important;
    }
    .order-2-setting{
        order:2!important;
    }
    .push-left-OSS{
       text-align:left!important;
       margin-right:auto!important;
    }
    .toggleVisibility1{
        display: none!important;
    }
    .toggleVisibility2{
        display: inline-block!important;
    }
    .font-awesome-scale-up{
        transform: scale(1.5);
    }
    .vertical-align-top-OSS{
        vertical-align: top;
    }
    .scrol-horizontal{
        overflow-x: auto;
    }
    td{
        min-width: 155px;
    }
    .title-line-height-OSS{
        line-height: 20px;
        padding:15px;
    }
    .zero-padding{
        padding:0!important;
    }
}
@media only screen and (max-width: 575px)  {
    .order-1-setting{
        order:1!important;
    }
    .order-2-setting{
        order:2!important;
    }
    .push-left-OSS{
        text-align:left!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 840px)  {
    .toggleVisibility1{
        display: none!important;
    }
    .toggleVisibility2{
        display: inline-block!important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 960px)  {
    .scrol-horizontal{
        overflow-x: auto;
    }
    td{
        min-width: 155px;
    }
}

.headerInbox{
    background-color: #5e065b;
    color:orange;
    font-family: DroidKufi-Regular;
    font-size: 18px;
    padding:5px;

}
.inbox-msg{
    color:#106079;
    background-color: rgba(120, 173, 189, 0.2);
    padding: 3px 5px;
    font-family: DroidKufi-Regular;
    font-size: 16px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.inbox-msg label {
    margin-bottom: 0;
    font-size: 14px;
    font-family: DroidKufi-Bold;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.push-left{
    margin-right: auto;
}
.min-width-500{
    min-width: 500px !important;
}
.padding-tb-8{
    padding-top:8px !important;
    padding-bottom:9px !important;
}
.padding-7{
    padding:7px !important;
}
.header-theme-danger{
    background-color: #b82020 !important;
    color:white;
}
.header-theme-primary{
    background: #067594;
    background: -moz-linear-gradient(-45deg, #0788ab 0%, #0788ab 15%, #0788ab 15%, #067594 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0788ab 0%,#0788ab 15%,#0788ab 15%,#067594 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0788ab', endColorstr='#067594',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}
/*ONS  =>on notrmal screen*/
.scrol-horizontal-ONS{
    overflow-x: auto;
}
.card-shadow{
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3)!important;
}

.swal2-popup .swal2-title {
    font-family: DroidKufi-Regular;
}
.swal2-popup #swal2-content {
    font-family: DroidKufi-Regular;
}
.swal-confirm {
    background-color: #3085d6!important;
    font-family: DroidKufi-Regular;
}
.swal-cancel {
    background-color: #d33!important;
    font-family: DroidKufi-Regular;
}
.hide-borders {
    border: none;
    background: transparent;
    outline: none;
}
.lowOps {
    color:  red;
}

/* master form button */
.master-form-button {
    border: 1px solid transparent;
    background: transparent;
    padding: 6px 10px;
    color: #067594;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-family: DroidKufi-Regular;
}
.master-form-button:not(:disabled):hover {
    border: 1px solid #067594;
}
.master-form-submit-button {
    border: none;
    outline: none!important;
    background: #067594;
    padding: 6px 12px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: DroidKufi-Regular;
}
.master-form-submit-button:not(:disabled):hover {
    background: #055c74;
}
.master-form-cancel-button {
    border: none;
    outline: none!important;
    background: transparent;
    padding: 6px 12px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    outline: none;
    font-family: DroidKufi-Regular;
}
.master-form-cancel-button:not(:disabled):hover {
    background: rgba(51, 51, 51, 0.2);
}
/* master form nav */
.master-form-nav {
    opacity: 0.75;
}
.master-form-nav:hover {
    opacity: 1;
}
.master-form-nav button {
    width: 40px;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    outline: none!important;
    box-shadow: none;
    cursor: pointer;
    color: #616161;
    font-size: 24px;
    opacity: 0.35;
}
.master-form-nav:hover button:not(:disabled) {
    color: #067594;
}
.master-form-nav:hover button:not(:disabled):hover {
    opacity: 1;
}
.master-form-nav button:not(:disabled):not(.right):not(.left):hover {
    animation: up-animation 250ms ease-in;
    transform: translateY(-3px);
}
.master-form-nav button:not(:disabled).right:hover i {
    animation: nav-right-animation 700ms infinite ease-in;
}
.master-form-nav button.left:not(:disabled):hover i {
    animation: nav-left-animation 700ms infinite ease-in;
}
@keyframes up-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3px);
    }
}
@keyframes nav-right-animation {
    0% {
        transform: translateX(-30%);
    }
    90% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(30%);
    }
}
@keyframes nav-left-animation {
    0% {
        transform: translateX(30%);
    }
    90% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(-30%);
    }
}
.master-form-nav:hover button.success:not(:disabled) {
    color: #28a745;
}
.master-form-nav:hover button.success:not(:disabled):hover {
    opacity: 1;
}
.master-form-nav:hover button.danger:not(:disabled) {
    color: #dc3545;
}
.master-form-nav:hover button.danger:not(:disabled):hover {
    opacity: 1;
}
.master-form-nav button:disabled {
    cursor: not-allowed;
}
.master-form-nav .master-form-ranking {
    display: inline-block;
    font-size: 15px;
    color: #616161;
    font-family: DroidKufi-Regular;
    background: #e5e4e4;
    padding: 0px 12px;
    border-radius: 20px;
    transform: translateY(-4px);
}
.master-form-nav .master-form-ranking .rank {
    color: #067594;
}
.master-form-nav:hover .master-form-ranking {
    background: rgba(6, 117, 148, 0.75);
    color: white;
}
.master-form-nav:hover .master-form-ranking .rank {
    color: white;
}
.master-form-nav .master-form-ranking .rank {
    font-size: 16px;
    font-weight: bold;  
}
/* master form */
form.master-form label sup {
    color: #dc3545;
}
form.master-form .form-control {
    color: #067594;
    font-family: DroidKufi-Regular;
    border-radius: 0;
    /* border: 1px solid transparent; */
    border: 1px solid #ced4da;
    outline: none;
    box-shadow: unset;
    height: 30px;
    font-size: 12px;
}
form.master-form .form-control.readonly,
form.master-form .form-control[readonly]:not(.read-only) {
    background: white;
    font-weight: bold;
    border: 1px solid transparent;
}
form.master-form .form-control.read-only:hover,
form.master-form .form-control:not([readonly]):not([disabled]):hover {
    border-color: rgba(6, 117, 148, 0.5);
}
form.master-form .form-control:not([readonly]):not([disabled]):focus {
    border-color: #067594;
    color: #067594;
}

/* crud-table */
table.crud-table {
    font-size: 12px;
    background: white;
    width: 100%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-family: DroidKufi-Regular;
}
table.crud-table thead {
    border-bottom: 2px solid #067594;
}
table.crud-table thead tr.fixed-table-head {
    background-color: #067594;
}
table.crud-table thead tr th {
    padding: 7px;
    color: #067594;
    /* font-size: 16px; */
    font-size: 12px;
    font-weight: normal;
    font-family: DroidKufi-Regular;
}
table.crud-table thead tr.fixed-table-head th {
    color: white;
}
table.crud-table tbody tr {
    background: white;
}
table.crud-table tbody tr:nth-child(even) {
    background: #EEEEEE;
}
table.crud-table tbody tr td {
    padding: 7px;
}
table.crud-table tbody tr td .form-control {
    border: 1px solid transparent !important;
    outline: none;
    box-shadow: none;
    color: #393939;
}
table.crud-table tbody tr:not(:last-child):nth-child(even) td .form-control:not(.is-invalid) {
    background: #EEEEEE;
}
table.crud-table tbody tr td .form-control:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
}
table.crud-table tbody tr td.actions {
    text-align: center;
}
table.crud-table tbody tr td.actions button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
table.crud-table tbody tr:last-child {
    border-top: 2px solid #067594;
    background: white;
}
table.crud-table tbody tr:last-child td.actions button {
    font-size: 20px;
}
table.crud-table tbody tr:last-child td .form-control {
    color: #067594;
}
.btn-crud {
    color: white!important;
    box-shadow: none!important;
    outline: none!important;
    border-radius: 0!important;
    background: #067594!important;
    transition: 100ms ease-in-out;
    font-size: 12px!important;
    padding: 4px 8px!important;
}
.btn-crud:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}
table.crud-table .crud-actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.tafqeet {
    font-size: 18px;
    font-family: DroidKufi-Regular;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #067594 !important;
}

.alert-danger {
    border-radius: 5px;
    font-size: 12px;
}